%div.input
  = form_for 'ts', :remote => true do |f|
    = f.label 'Address'
    = f.text_field :address, :size => 50

    = f.submit 'Submit'
  %p#result &nbsp;
%img{:src => '/images/Melbourne_railways_map.gif'}